<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id='menu'>
        <ul>
            <li><a href='http://localhost:2000/'>Home/</a></li>
            <li><a href='http://localhost:2000/livros'>Livros/</a></li>
            <li><a href='http://localhost:2000/fotos'>Fotos/</a></li>
            <li><a href='http://localhost:2000/equipe'>Equipe/</a></li>
            <li><a href='http://localhost:2000/trabalhe_conosco'>Trabalhe conosco/</a></li>
        </ul>
    </nav>
    <h1>Livros</h1>
</body>
</html>